
{% load static %}
<!--Footer-->
<div style="position: fixed; bottom: 16px; color: rgb(173, 75, 253)">
    All the different text at the bottom
    </div>

<div class="wrapper">
    <div class="content">
        <!-- Your main content goes here -->
    </div>
    <footer class="footer">
        <p>This Gateway is hosted by:</p>
        <p>&copy; 2023 ExoDAO Network Association</p>
        <p>
            <a href="{% url 'home'%}" style="color: white;">Home</a> |
            <a href="https://www.exodao.net/overview/readme" style="color: white;">About</a> |
            <a href="https://www.exodao.net/overview/contact-us" style="color: white;">Contact</a>
        </p>
    </footer>
</div>
