{% extends 'main.html' %}

{% block content %}
{% load static %}
<body class="body--main">
<div class="center">
<form method="POST" action='{% url "results" %}'>
    {% csrf_token %}
        <br>
        <div style="margin-bottom: 5px;">
             <input class="input--pill" name="query" placeholder="Enter Query" />
             <button class="btn--pill"  type="submit">Search</button> 
        </div>
        
        <div class="select">
            
            <!-- Select box 1: Normalization options -->
            <select name="normalization">
            <option value="CosineNormalization">CosineNormalization</option>
            <option value="Unnormalized">Unnormalized</option>
            <option value="NoNormalization">NoNormalization</option>
            <option value="MaxNormalization">MaxNormalization</option>
            <option value="LogNormalization">LogNormalization</option>
            <option value="BytesNormalization">BytesNormalization</option>
            <option value="preCosineMetricNormalization">preCosineMetricNormalization</option>
            <option value="CosineMetricNormalization">CosineMetricNormalization</option>
            </select>

            <!-- Select box 2: Sorting options -->  
            <select name="sorting">
            <option value="ByNewsrank">ByNewsrank</option>
            <option value="Unsorted">Unsorted</option>
            <option value="ByDate">ByDate</option>
            <option value="ByReverseDate">ByReverseDate</option>
            <option value="ByScore">ByScore</option>
            <option value="ByAdjScore">ByAdjScore</option>
            <option value="ByAuxCount">ByAuxCount</option>
            <option value="ByHits">ByHits</option>
            <option value="ByReverseHits">ByReverseHits</option>
            <option value="ByKey">ByKey</option>
            <option value="ByIndex">ByIndex</option>
            <option value="ByCategory">ByCategory</option>
            </select>


        </div>

            <br>
            <br>
            <br>
            <br>
            <h5> Active Nodes:</h5>
            <br>
            <br>


    <div>
        <div>
            <div>
                {% for node in nodes %}
                <div class="hvr-pulse">
                        <div class="tooltip">
                            <span class="tooltiptext2">
                            <b>{{node.data.name}}->{{node.data.ownerTag}}</b>
                            <div>{{node.data.description}}</div>
                            <small>under: {{node.data.ip}}:  </small>
                            <div> <small>online: {{node.data.onTime|timesince}}</small></div>
                            <small>added by {{node.data.added_by}}</small><br>
                        </span>
                    </div>
                </div>
                </br>
                {% endfor %}
            </div>
        </div>
    </div>

</form>

</div>
</body>
{% endblock %}